@import "~skeleton-css/css/normalize.css";
@import "~skeleton-css/css/skeleton.css";

.edited-field__input[type] {
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 0;
    padding: 0 !important;
    height: auto;
}

.edited-field__revert {
    margin-left: 15px;
}

a[disabled] {
    cursor: default;
    color: #999;
    text-decoration: none;
}

.edited-field__error {
    color: red;
    padding-left: 10px;
}

.form-error {
    color: red;
    padding: 10px 0;
    height: 2rem;
    font-size: 2rem;
}

.user-row td {
    border-bottom: none;
    padding-bottom: 0;
}

.user-row__delete {
    text-align: right;
}